/* your styles go here */

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}

.fa-16x {
    font-size: 1.6em;
}

.fa-13x {
    font-size: 1.3em;
}

#post-content {
    font-size: 18px;
  }

